*{
 margin: 2px;
    padding: 0;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    height: 700px;
}

.header{
width: 100%;
height: 10%;
background-color: rgb(108, 179, 179);
}
.flex{
    display: flex;
    width: 100%;
    height: 60%;
}
.heroside{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;   
}
.hero{
 width: 100%;
 height: 40%;
 background-color: rgb(120, 99, 140);
}
.sidebar{
    width: 100%;
    height: 60%;
    background-color: rgb(255, 205, 218);
}
.contant{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
}
.main{
    width: 100%;
    height: 70%;
    background-color: rgb(97, 165, 42);
}
.extra{
    width: 100%;
    height: 30%;
    background-color: rgb(71, 79, 57);
}
.related{
 width: 100%;
 height: 20%;
 display: flex;

}
.images{
    height: auto;
    width: 70%;
    background-color: rgb(29, 87, 97);
}
.posts{
    height: auto;
    width: 30%;
    background-color: rgb(255, 228, 196);
}
.footer{
    height: 10%;
    width: 100%;
    background-color: rgb(2, 77, 8);
}
p{
    font-size: 30px;

}